.App {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}

.TodoList {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: deepskyblue;
    margin-right: 20px;
    width: 400px;
    margin-bottom: 20px;
    padding: 10px;
}

.OneTask {
    margin-bottom: 5px;
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    flex-direction: row;
}

.TodoTitle {
    color: blue;
    font-weight: bold;
}

.All {
    color: white;
    background-color: cornflowerblue;
}

.Completed {
    color: white;
    background-color: sienna;
}

.Active {
    color: forestgreen;
    background-color: lemonchiffon;
}

.New {
    color: skyblue;
    background-color: green;
}

.AddNewTodolist {
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    margin-bottom: 10px;
    background-color: pink;
}

.nameBlock {
    text-align: center;
}


.input {
    border-radius: 5px;
    margin-bottom: 10px;
    height: 20px;
    margin-right: 2px;
    background-color: honeydew;
    text-align: center;
}

textarea {
    height: 50px;
    width: 330px;
    border-radius: 5px;
    background-color: floralwhite;
    font-size: 17px;
}

select {
    width: 150px;
    height: 30px;
    border-radius: 5px;
    background-color: gainsboro;
    color: darkblue;
    padding-left: 50px;
    font-size: 15px;
    font-weight: bold;
}

.OneTaskBlock {
    border: 1px solid black;
    padding: 5px;
    width: 350px;
    background-color: blanchedalmond;
}

.OneTaskBlockUpdate {
    background-color: cyan;
    padding: 5px;
    width: 350px;
    border: 1px solid black;
}

p {
    display: inline;
    color: darkblue;
    font-weight: bold;
}

.editButton {
    width: 50px;
    border-radius: 5px;
}

.showTasksContent {
    display: flex;
    flex-direction: row;

}

.showTasksContent div {
    width: 70px;

}

.showTasksContent .oneTaskContent {
    width: 300px;
}

.AddNewItemButton {
    height: 25px;
    background-color: floralwhite;
    color: black;
    border-radius: 2px;
}


